@{
    ViewBag.Title = "Introduction";
}



    <div class="span12">
        <div class="span10">
            <h2>College of Business & Economics</h2>
            <h2>Major Application</h2>
        </div>
            <div class="span10"><h3>Introduction</h3></div>

            <div class="span11">
                <p>
                    An application to the College of Business and Economics is required of all students
                    enrolled at WVU-Morgantown and Potomac State College. Transfer students should apply
                    to <a href="http://admissions.wvu.edu">WVU Office of Admissions.</a>
                <p>
                    This form is a check list of all the
                    criteria required to apply for a degree program and academic major in the College of Business and Economics.  If you meet all the required
                    criteria, you will be directed to the application form. You need to provide a response to every
                    item in this form.
                </p>
            </div>
            <div class="span10"><h3>Instructions</h3></div>
            <div class="span11">

                <p>
                    Carefully read and follow the steps under the heading 'Instructions' for every step of the application process.
                    Check the box stating that you have read and understood this page then press the 'Start the check list' button.
                </p>
                <p>
                    <b>The minimum overall GPA for the majors of General Business and Hospitality and Tourism Management is 2.00. The minimum overall GPA for all other majors is 2.50.</b>
                </p>
                <p>
                    You have approximately <b>45</b> minutes to complete the checklist and application before your web browser times out.<br />
                    All the required information can be found in your
                    <a href="http://mix.wvu.edu">mix.wvu.edu</a> account.<br />
                    Required information includes:

                    <ul>
                        <li>WVU ID: Student assigned ID number</li>
                        <li>WVU Start Time: Term and year started at WVU</li>

                        <li>Number of Credits: Completed and currently enrolled</li>
                        <li>Cumulative GPA: Overall Grade Point Average</li>
                        <li>Desired Degree and Major: Degree and Major the student desires to pursue</li>
                        <li>
                            Prerequisite Courses:
                            <ul>
                                <li>Accounting 201, 202 </li>
                                <li>Computer Science 101</li>
                                <li>Economics 201,202</li>
                                <li>Economics 225 or Statistics 211</li>
                                <li>English 101,102 or 103</li>
                                <li>Math 126(A, B, or C), 129, or 153</li>
                                <li>Math 150, 154, 155, or 156</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>


